.card {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 30px;

  height: 300px;

  background-color: black;
  border-radius: 10px;

  color: #fff;

  .types {
    span {
      padding: 4px 8px;
      display: inline-block;
      
      background-color: #ffffff80;

      border-radius: 50%;
      color: #fff;
      text-transform: capitalize;
      font-weight: 600;

      border-radius: 15px;
      margin-right: 6px;
      cursor: pointer;
    }
  }
}

