.search {
  padding-bottom: 50px;

  form {
    
    input {
      width: 500px;
      height: 30px;

      padding: 2px;

      border-radius: 10px;
      background-color: #fff;

      font-size: 16px;

    }
  }
}